# Local files
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
!.awestruct_ignore
!.gitattributes
!.htaccess
!.github
/nbproject
/*.ipr
/*.iws
/*.iml
.project
.classpath

# Repository wide ignore mac DS_Store files
.DS_Store

# Awestruct files
/_site
/_tmp
/.awestruct
/.sass-cache
/Gemfile.lock
output
build

# jbake produces output in standard maven directories
/target

# Directory of Jenkinsfile for publishing website
!.ci
