%h4 Vinod Kiran P.

%ul
  %li Drools Spring (5.2, 5.3, 5.4)
  %li Drools Scorecard (5.5)
  %li Kie-Spring, Kie-Camel, Kie-Aries-Blueprint (6.x)
  %li IRC nickname: vkiran

%h4 Toshiya Kobayashi

%ul
  %li Guvnor 5.2, 5.3
  
  
%h4 Jari Timonen

%ul
  %li Guvnor 5.2, 5.3
  %li IRC nickname: zenix
  %li twitter: jtimonen
  %li email: jari timonen [at] zeniitti [dot] net
  
%h4 Andrew Glenn Waterman

%ul
  %li Guvnor 5.2
  %li twitter: awaterma
  
%h4 Leonardo Gomes

%ul
  %li Drools 5.2
  %li email: leonardo.f.gomes [at] gmail [dot] com

%h4 Nicolas Sanchez

%ul
  %li Guvnor 5.2

%h4 Leandro Romero

%ul
  %li Guvnor 5.2

%h4 Pablo Nussembaum

%ul
  %li Drools 5.1, 5.2
  %li jBPM 5.1
  %li IRC nickname: baunax
  %li twitter: baunax

%h4 Lucaz Amador

%ul
  %li Drools 5.1

%h4 Esteban Aliverti

%ul
  %li Drools and Guvnor: 5.1, 5.2, 5.3
  %li twitter: ilesteban
  %li blog: http://ilesteban.wordpress.com/

%h4 Diego López León

%ul
  %li Drools 5.1, 5.2
  %li IRC nickname: diega
  %li twitter: diega

%h4 Antoine Toulme

%ul
  %li Drools: 5.1, 5.2
  %li irc nickname: toulmean
  %li twitter: toulmean
  %li blog: http://www.lunar-ocean.com/

%h4 Wolfgang Laun

%ul
  %li Drools 5.1, 5.2
  %li IRC nickname: laune

%h4 Nicolas Héron

%ul
  %li Drools 5.1, 5.2, 5.3
  %li twitter: nicolasheron

%h4 Hadrian Zbarcea

%ul
  %li Drools 5.1

%h4 Alexander Bagerman

%ul
  %li Leaps lead
  %li email: bagerman [at] gmail [dot] com

%h4 Michael Frandsen

%ul
  %li jsr94 lead
  %li email: michael.frandsen [at] syngenio [dot] de
  
%h4 Steven Williams

%ul
  %li email: stevenw [at] objectconsulting [dot] com.au

%h4 Ben Truit

%ul
  %li Rule repository JCR repo-man
  %li email: ben.truitt [at] Rackspace [dot] com

%h4 Barry Kaplan

%ul
  %li pojo rules with annotations (Drools 2)
  %li spring integration (Drools 2)
  %li email: groups1 [at] memelet [dot] com

%h4 Simon Harris

%ul
  %li core developer and performance wizard
  %li email: simon [at] redhillconsulting [dot] com.au

%h4 Andy Barnett

%ul
  %li jsr94 (Drools 2)
  %li examples (Drools 2)
  %li code cleanups (Drools 2)

%h4 Alex Saint Croix

%ul
  %li jsr94 Lead(Drools 2)
  %li examples (Drools 2)
  %li email: alex [at] alexsaintcroix [dot] com

%h4 Brian McAllister

%ul
  %li spi refactoring (Drools 2)
  %li email: brian [at] skife [dot] org

%h4 David Cramer

%ul
  %li schema (Drools 2)
  %li jelly (Drools 2)
  %li examples (Drools 2)

%h4 Martin Hald

%ul
  %li build (Drools 2)
  %li io (Drools 2)
  %li examples (Drools 2)

%h4 Robert Searl

%ul
  %li examples (Drools 2)
  %li documentation (Drools 2)

%h4 Thomas Deisler

%ul
  %li jsr94 (Drools 2)
  %li email: thomas.deisler [at] jboss [dot] com

%h4 Brian Topping

%ul
  %li Logo (Drools 2)
  %li email: topping [at] codehaus [dot] org

%h4 Christiaan ten Koster

%ul
  %li groovy fixes (Drools 2)
  %li python fixxes (Drools 2)
  %li jelly build updates (Drools 2)

%h4 Doug Bryant

%ul
  %li groovy fixes (Drools 2)
  %li python fixes (Drools 2)
  %li smftest fixes (Drools 2)
  %li email: dbryant [at] scra [dot] org

%h4 Pete Kazmier

%ul
  %li examples (Drools 2)
  %li code clean ups (Drools 2)

%h4 Roger F. Gay

%ul
  %li Schema (Drools 2)

%h4 James Strachan

%ul
  %li initial groovy contribution (Drools 2)

%h4 Jayaram Sreevalsan

%ul
  %li Contributor

%h4 Ricardo Barone

%ul
  %li Super tester, fixer of nasty bugs
  %li email: ricardo.barone [at] auster [dot] com.br

%h4 Mahendra Pratap Singh Insolexen Corp (Aquired by Perficient recently)

%ul
  %li Contributor

%h4 Jeff Brown

%ul
  %li Contributor Eclipse, Examples
  %li email: brown_j [at] ociweb [dot] com

%h4 Ritu Jain

%ul
  %li .Net co-lead developer
  %li email: ritujain18 [at] yahoo [dot] com

%h4 Chinmay Nagarkar

%ul
  %li .Net co-lead and visionary
  %li email: chinmay.nagarkar [at] gmail [dot] com

%h4 Denis Ahearn

%ul
  %li .Net Developer
  %li email: denisahearn [at] yahoo [dot] com

%h4 Michael Miller

%ul
  %li Drools.net
  %li email: mmiller [at] bluecypress [dot] net

%h4 Ellen N. Zhao

%ul
  %li Documentation
  %li Website: http://ningning.org/
  %li email: enzhao [at] gmail [dot] com

%h4 David Hamu

%ul
  %li Active helpful fellow
  %li email: Dave.Hamu [at] Avnet [dot] com

%h4 Geoffrey Wiseman

%ul
  %li Active helpful fellow
  %li email: gwiseman [at] exchangesolutions [dot] net

%h4 Pedro Jorquera

%ul
  %li Active helpful fellow
  %li email: pjorquera [at] okode [dot] com

%h4 Paul Smith

%ul
  %li Active helpful fellow
  %li email: paul.t.smith [at] gmail [dot] com

%h4 David LaMotta

%ul
  %li Active helpful fellow
  %li email: dlamotta [at] cisco [dot] com

%h4 Michael Neale

%ul
  %li Former Drools Guvnor lead
  %li twitter: michaelneale
  %li email: michael.neale [at] jboss [dot] com

%h4 Bob McWhirter

%ul
  %li Founder (now manager of jboss.org)
  %li twitter: bobmcwhirter
  %li email: bob [at] openxource [dot] com
