---
layout: normalBase
---
%h1
  #{page.title}
:asciidoc
  [.summaryParagraph]
  *KIE public API classes are backwards compatible* (per series),
  but users often also use implementation classes (which are documented in the reference manual too).
  This upgrade recipe _minimizes the pain_ to upgrade your code.

.row
  .col-md-7
    %h2(style="margin-top: 0px;") Legend
    %p Every upgrade note has an indication how likely your code will be affected by that change:
    %ul.upgrade-recipe-label-list
      %li
        %span.label.label-danger.label-as-badge Major
        Likely to affect your code.
      %li
        %span.label.label-warning.label-as-badge Minor
        Unlikely to affect your code (especially if you followed the examples), unless you have hacks.
      %li
        %span.label.label-info.label-as-badge Impl detail
        Will not affect your code, unless you have very deep hacks.
      %li
        %span.label.label-primary.label-as-badge Recommended
        Not a backward incompatible change, but you probably want to do this.
      %li
        %span.label.label-success.label-as-badge Readme
        Read this to better understand why the subsequent major changes were made.

  .col-md-5
    .panel.panel-default
      .panel-heading Note for Red Hat customers
      .panel-body
        %p
          The BRMS and BPM Suite version does
          %strong NOT
          match the Drools version:
        = partial('productToProjectVersionMapping.html.haml', :outputPage => page)
        %p Apply the recipe of the appropriate Drools version.

~ content
